/*
  Theme Name: Name - Multipurpose HTML Template
  Author: mdsalim400@gmail.com
  Support: admin@gmail.com
  Description: Creative  HTML5 template.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. header
3. slider
4. about-area
5. features-box
6. department
7. team
8. video-area
9. counter
10. footer
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');
 body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
    font-size: 16px;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover {
	color: #8564ed;
	text-decoration: none;
}
a,
button {
	color: #8564ed;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	color: #222;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	text-transform: normal;
    line-height: 1.3;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1,
.h1 {
	font-size: 60px;
    line-height: 72px;
    line-height: 1.2;
}
h2,
.h2 {
	font-size: 36px;    
    line-height: 44px;
    line-height: 1.23;
    
}
h3,
.h3 {
	font-size: 24px;
    line-height: 32px;
    line-height: 1.35;
}
h4,
.h4 {
	font-size: 22px;
}
h5,
.h5 {
	font-size: 16px;
}
h6,
.h6 {
	font-size: 14px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
	color: #222222;
	margin-bottom: 18px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #222;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #222;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #222;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #222;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: rgba(0, 0, 0, .6);
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: rgba(0, 0, 0, .6);
	
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
	-moz-user-select: none;
	background: #8564ed none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 13px 25px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}

.breadcrumb > .active {
	color: #888;
}
.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #2B96CC;
	color: #fff
}

/* scrollUp */
#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}

/* Inputs */
.form-group .form-control, .input-group .form-control {
    padding: 10px 18px 10px 18px;
}

.form-control {
    background-color: transparent;
    border: 1px solid #ab92ff;
    border-radius: 0px;
    color: 222;
    height: 70px;
    line-height: normal;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #ff921d;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #000;
}



